
.main-nav
{
    list-style: none;
    margin-top: 15px;
    margin-left: 785px;
}
.main-nav li 
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;    
}

.main-nav li.active a
{
    border: 1px solid white;
}

.inact:hover
{
    border: 1px solid white;
}

#Rectangle
{
     background-color: black;
    width: 1365px;
    height: 60px;
    margin-top: -50px;
    z-index: -1;
    position: absolute;

}


p {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 18px; 
    margin: auto;
    text-align: center;
    display:inline-block;
    position: relative;
    bottom: -50px;
}



body {
    font-family: Verdana, sans-serif;
}

